{% extends 'water/base.html' %}
{% block title %}Add Customer{% endblock %}
{% block content %}
    <h2>Add Customer</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.customer_id }}
        {{ form.first_name.label_tag }} {{ form.first_name }}
        {{ form.family_name.label_tag }} {{ form.family_name }}
        {{ form.street.label_tag }} {{ form.street }}
        {{ form.street_no.label_tag }} {{ form.street_no }}
        {{ form.city.label_tag }} {{ form.city }}
        {{ form.zip.label_tag }} {{ form.zip }}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.phone.label_tag }} {{ form.phone }}
        
        <button type="submit">Save</button>
    </form>
{% endblock %}
